<section class="main-content">
	<h1>Boa noite!</h1>

	<!-- Análises -->
	<h2>Análise</h2>
	<div class="analyse">
		<loto-card mainTitle="R$ 65.024,00" infoTitle="Total de vendas" [hasCustomContent]="true" [customContentGraph]="{ show: true, graphNumberInfo: '+81%' }">
			<svg>
				<circle cx="38" cy="38" r="36" class="success"></circle>
			</svg>
		</loto-card>

		<loto-card mainTitle="265" infoTitle="Total de Bolões" [hasCustomContent]="true" [customContentGraph]="{ show: true, graphNumberInfo: '-41%' }">
			<svg>
				<circle cx="38" cy="38" r="36" class="danger"></circle>
			</svg>
		</loto-card>

		<loto-card mainTitle="24.981" infoTitle="Total de clientes" [hasCustomContent]="true" [customContentGraph]="{ show: true, graphNumberInfo: '+21%' }">
			<svg>
				<circle cx="38" cy="38" r="36" class="primary"></circle>
			</svg>
		</loto-card>
	</div>
	<!-- Fim de análises -->

	<!-- Seção de novos usuários -->
	<div class="new-users">
		<h2>Novos usuários</h2>
		<div class="user-list">
			<div class="user">
				<div class="user-initials">
					<span>KL</span>
				</div>
				<h2>Kenny Loggins</h2>
				<p>123.456.789-01</p>
			</div>
			<div class="user">
				<div class="user-initials">
					<span>AM</span>
				</div>
				<h2>Alípio Martins</h2>
				<p>123.456.789-01</p>
			</div>
			<div class="user">
				<div class="user-initials">
					<span>BD</span>
				</div>
				<h2>Bob Dylan</h2>
				<p>123.456.789-01</p>
			</div>
			<div class="user">
				<div class="user-initials">
					<span>+</span>
				</div><h2>Mais</h2>
				<p>Novos usuários</p>
			</div>
		</div>
	</div>
	<!-- End of New Users Section -->

	<!-- Tabela de bolões recentes -->
	<div class="recent-orders">
		<h2>Bolões recentes</h2>
		<table>
			<thead>
				<tr>
					<th>Course Name</th>
					<th>Course Number</th>
					<th>Payment</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<a [routerLink]="'/app/jackpot'">Ver todos</a>
	</div>
</section>
