<section>
	<h1>Boa noite!</h1>

	<!-- Análises -->
	<h2>Bolões</h2>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-4">
			<loto-card mainTitle="Bolão 1" infoTitle="ID do bolão 1" [hasCustomContent]="true">
				<div class="pt-2">
					<span class="text-muted">Ações do bolão</span>
					<div class="d-flex justify-content-between mt-2">
						<button mat-raised-button title="Ver bolão" class="visibility-button">
							<span class="material-icons-sharp">visibility</span>
						</button>

						<button mat-raised-button title="Editar bolão" class="edit-button">
							<span class="material-icons-sharp">edit</span>
						</button>

						<button mat-raised-button title="Deletar bolão" class="delete-button">
							<span class="material-icons-sharp">delete</span>
						</button>
					</div>
				</div>
			</loto-card>
		</div>

		<div class="col-12 col-md-6 col-lg-4">
			<loto-card mainTitle="Bolão 2" infoTitle="ID do bolão 2" [hasCustomContent]="true">
				<div class="pt-2">
					<span class="text-muted">Ações do bolão</span>
					<div class="d-flex justify-content-between mt-2">
						<button mat-raised-button title="Ver bolão" class="visibility-button">
							<span class="material-icons-sharp">visibility</span>
						</button>

						<button mat-raised-button title="Editar bolão" class="edit-button">
							<span class="material-icons-sharp">edit</span>
						</button>

						<button mat-raised-button title="Deletar bolão" class="delete-button">
							<span class="material-icons-sharp">delete</span>
						</button>
					</div>
				</div>
			</loto-card>
		</div>

		<div class="col-12 col-md-6 col-lg-4">
			<loto-card mainTitle="Bolão 3" infoTitle="ID do bolão 3" [hasCustomContent]="true">
				<div class="pt-2">
					<span class="text-muted">Ações do bolão</span>
					<div class="d-flex justify-content-between mt-2">
						<button mat-raised-button title="Ver bolão" class="visibility-button">
							<span class="material-icons-sharp">visibility</span>
						</button>

						<button mat-raised-button title="Editar bolão" class="edit-button">
							<span class="material-icons-sharp">edit</span>
						</button>

						<button mat-raised-button title="Deletar bolão" class="delete-button">
							<span class="material-icons-sharp">delete</span>
						</button>
					</div>
				</div>
			</loto-card>
		</div>

		<div class="col-12 col-md-6 col-lg-4">
			<loto-card mainTitle="Bolão 4" infoTitle="ID do bolão 4" [hasCustomContent]="true">
				<span class="text-muted">Ações do bolão</span>
				<div class="d-flex justify-content-between">
					<button mat-raised-button title="Ver bolão" class="visibility-button">
						<span class="material-icons-sharp">visibility</span>
					</button>

					<button mat-raised-button title="Editar bolão" class="edit-button">
						<span class="material-icons-sharp">edit</span>
					</button>

					<button mat-raised-button title="Deletar bolão" class="delete-button">
						<span class="material-icons-sharp">delete</span>
					</button>
				</div>
			</loto-card>
		</div>

		<div class="col-12 col-md-6 col-lg-4">
			<loto-card mainTitle="Bolão 5" infoTitle="ID do bolão 5" [hasCustomContent]="true">
				<span class="text-muted">Ações do bolão</span>
				<div class="d-flex justify-content-between">
					<button mat-raised-button title="Ver bolão" class="visibility-button">
						<span class="material-icons-sharp">visibility</span>
					</button>

					<button mat-raised-button title="Editar bolão" class="edit-button">
						<span class="material-icons-sharp">edit</span>
					</button>

					<button mat-raised-button title="Deletar bolão" class="delete-button">
						<span class="material-icons-sharp">delete</span>
					</button>
				</div>
			</loto-card>
		</div>

		<div class="col-12 col-md-6 col-lg-4">
			<loto-card mainTitle="Bolão 6" infoTitle="ID do bolão 6" [hasCustomContent]="true">
				<span class="text-muted">Ações do bolão</span>
				<div class="d-flex justify-content-between">
					<button mat-raised-button title="Ver bolão" class="visibility-button">
						<span class="material-icons-sharp">visibility</span>
					</button>

					<button mat-raised-button title="Editar bolão" class="edit-button">
						<span class="material-icons-sharp">edit</span>
					</button>

					<button mat-raised-button title="Deletar bolão" class="delete-button">
						<span class="material-icons-sharp">delete</span>
					</button>
				</div>
			</loto-card>
		</div>

		<!-- Limite de 6 cards na tela inicial! -->
		<a [routerLink]="'/app/jackpot/all'" class="primary mx-auto mt-5">Ver todos (Ainda em desenvolvimento)</a>
	</div>
</section>
