<form [formGroup]="form" (submit)="submit()">
	<h2>Preencha todos os campos abaixo</h2>
	<p>Para criar uma nova conta, preencha todos os campos abaixo.</p>
	<div class="row">
		<loto-input-text
			[form]="form"
			controlName="complete_name"
			label="Nome completo"
			[value]="form.get('complete_name').value"
			placeholder="Digite seu nome completo"
			class="col-12 col-md-6 col-lg-4 mb-2"
		></loto-input-text>

		<loto-input-cpf
			[form]="form"
			controlName="cpf"
			label="CPF"
			[value]="form.get('cpf').value"
			placeholder="Digite apenas os números do seu CPF"
			class="col-12 col-md-6 col-lg-4 mb-2"
		></loto-input-cpf>

		<loto-input-date
			[form]="form"
			[dataMaxima]="dataMaxima"
			controlName="birthdate"
			label="Data de nascimento"
			[readonly]="false"
			class="col-12 col-md-6 col-lg-4 mb-2"
		></loto-input-date>

		<loto-input-telephone
			[form]="form"
			controlName="whatsapp"
			label="WhatsApp"
			[cellPhone]="true"
			[value]="form.get('whatsapp').value"
			placeholder="Digite apenas os números do seu WhatsApp"
			class="col-12 col-md-6 mb-2"
		></loto-input-telephone>

		<loto-input-telephone
			[form]="form"
			controlName="whatsapp_confirmation"
			label="Confirme seu WhatsApp"
			[cellPhone]="true"
			[value]="form.get('whatsapp_confirmation').value"
			placeholder="Digite apenas os números do seu WhatsApp"
			class="col-12 col-md-6 mb-2"
		></loto-input-telephone>
	</div>

	<div class="d-flex flex-column-reverse justify-content-center flex-md-row justify-content-md-between mt-4">
		<button mat-button color="accent" type="button" (click)="back()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="buttonDisabled()" class="mb-2">Cadastrar</button>
	</div>
</form>
