<div class="loto-container">
	<!-- sidebar -->
	<loto-sidebar #sidebarComponent [menuOptions]="menuOptions"></loto-sidebar>
	<!-- Content -->
	<main class="container-fluid pt-4 mt-5">
		<loto-breadcrumb></loto-breadcrumb>
		<router-outlet></router-outlet>
	</main>
	<!-- Rightbar -->
	<loto-rightbar *ngIf="showRightbar" (activeSidebar)="activateSidebar($event)"></loto-rightbar>
	<!-- Rightbar with application options -->
	<loto-application-rightbar *ngIf="!showRightbar" (activeSidebar)="activateSidebar($event)"></loto-application-rightbar>
</div>
